<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Farm2Fork{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>

  <div id="header-placeholder"></div>

  {% block content %}{% endblock %}

  <div id="modal-placeholder"></div> 
  <div id="footer-placeholder"></div>

  <script src="{{ url_for('static', filename='components.js') }}"></script>
</body>
</html>